<!DOCTYPE html>
<html>
  <head>
    <title>Volodymyr Pihol</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script type="application/javascript" src="/dist/main.js"></script>
  </body>
</html>
